        body {
            background-color: #E6E6FA;
            font: 1.25rem 'Fira Sans', sans-serif;
        }

        p,
        .button,
        label {
            font: 1.25rem 'Fira Sans', sans-serif;
        }

        input {
            margin-bottom: 1rem;
            font-size: 1.25rem;
            height: 2rem;
        }

        button {
            height: 2rem;
            padding: .5rem;
        }

        .age_input{
            width: 4rem;
        }

        fieldset{
            width: 50%;
        }

        .tooltip {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black;
        }

        .tooltip .tooltiptext {
          visibility: hidden;
          width: 30rem;
          font-size: 1rem;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: .1rem 0;
          position: absolute;
          z-index: 1;
          bottom: 100%;
          left: 50%;
          margin-left: -60px;

          /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
          opacity: 0;
          transition: opacity 1ms;
        }

        .tooltip:hover .tooltiptext {
          visibility: visible;
          opacity: 1;
        }

        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}
